#add-todo-form{
    @include shadow(0.05);
    @include px-to-pr(705.5);
    padding: 20px;
    background-color: $white;
    margin-top: 52px;
    position: fixed;
    .plus-icon{
        width: 14px;
        position: absolute;
        padding: 10px 30px;
    }
    form{
        width: 100%;
        height: 100%;
        input{
            display: block;
            margin: 0 auto;
            width: 90%;
            height: 30px;
            border-radius: 16px;
            border: 1px solid $gray-medium;
            padding-left: 30px;
            &::placeholder{
                color: $gray-dark;
            }
            &:focus{
                border-color: $red-light;
                color: $black;
            }
        }
    }
}