#active-user-avatar{
    .avatar{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid $white;
        background-repeat: none;
        background-size: cover;
        cursor: pointer;
    }
    .hide-user-dorp-down{
        display: none;
    }
    .user-drop-down{
        @include shadow(0.24);
        @include px-to-pr(200);
        background-color: $white;
        padding: 13px;
        border-radius: $main-border-radius;
        position: absolute;
        right: 2.5em;
        top: 4em;
        header{
            width: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
            h3{
                padding-left: 10px;
                cursor: pointer;
                color: $gray-dark;
            }
        }
        footer{
            text-align: right;
            cursor: pointer;
        }
    }
}