body{
    @include standardFonts();
    background-color: $gray-light;
    .main-container{
        @include px-to-pr(745.5);
        background-color: $white;
        border: 1px solid $gray-medium;
        height: inherit;
        min-height: 100vh;
        margin: 0 auto;
        .all-todos{
            padding: 20px;
        }
    }
}
.divider-line{
    width: 100%;
    height: 1px;
    background-color: $gray-light;
    margin-top: 13px;
    margin-bottom: 13px;
}