#main-header{
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 53px; 
    background-color: $red-light;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.24);
    .container{
        align-items: center;
        justify-content: space-between;
        #logo{
            @include px-to-pr(100);
            cursor: pointer;
        }
        .right-side{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include px-to-pr(310);
        }
    }
}