@mixin main-btn($color){
    @include px-to-pr(155);
    cursor: pointer;
    height: 30px;
    border: 1px solid $color;
    border-radius: 15px;
    color: $color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
}