#search {
  width: 100%;
  padding-right: $main-margin;
  height: 30px;
  .search-icon {
    width: 14px;
    position: absolute;
    padding: 8px;
  }
  input {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: $red-dark;
    border: none;
    padding-left: 30px;
    color: $black;
    transition: background-color 0.3s, background-color 0.2s ease-in;
    &::placeholder {
      color: $gray-light;
    }
    &:focus {
      background-color: $white;
      color: $black;
    }
  }
}
