#show-completed{
    @include px-to-pr(155);
    cursor: pointer;
    height: 30px;
    border: 1px solid $gray-medium;
    border-radius: 15px;
    color: $gray-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        display: none;
        position: absolute;
    }
}
.active-btn{
    color: $white !important;
    background-color: $red-light;
    border: 1px solid $red-light !important;
}