.todo{
    cursor: pointer;
    input[type=checkbox]{
        position: absolute;
        display: none;
        top: 0;
        left: 0;
    }
    .checkbox-style{
        display: inline-block;
        width: 13px;
        height: 13px;
        cursor: pointer;
        padding-right: 10px;
        background-repeat: no-repeat;
    }
    .todo-text{
        display: inline-block;
    }
    .done-todo{
        color: red;
    }
}