// colors
$red-light: #eb0a28;
$red-dark: #c60a20;
$black: #1c1c1c;
$white: white;
$gray-light: #f4f4f4;
$gray-medium: #dddddd;
$gray-dark: #7c7c7c;

// main vars
$main-border-radius: 5px;
$main-margin: 33px;

// fonts
$main-font-family: 'Poppins', sans-serif;
$main-font-size: 13px;

// font styles
h3{
    font-size: $main-font-size;
    font-weight: 500; 
}
h4{
    font-size: $main-font-size;
    font-weight: 500; 
    font-size: 15px;
}
p{
    font-size: $main-font-size;
    color: $gray-dark;
}


//font mixins
@mixin standardFonts(){
    font-family: $main-font-family;
    font-weight: 300;
    color: $black;
    font-size: $main-font-size;
}

// mixins
@mixin shadow($opacity){
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,$opacity);
}
@mixin px-to-pr($px){
    min-width: $px * 1px;
    width: ($px / 1366 * 100) * 1%; 
}