#index{
    background-color: $red-light;
    height: 100vh;
    padding-top: 200px;
    .log-in-window{
        background-color: $white;
        border-radius: 5px;
        @include shadow(0.24);
        @include px-to-pr(420);
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
            margin-top: 20px;
        }
        p{
            margin-top: 5px;
            margin-bottom: 35px;
        }
        .red-logo{
            width: 40px;
        }
        .github{
            width: 20px;
        }
        .github-btn{
            @include main-btn(#24292E);
            padding: 3px;
            span{
                padding-left: 7px;
                padding-right: 5px;
            }
        }
    }
}